

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav ul li {
    margin-left: 1rem;
  }

  nav ul li a {
    border: none;
    padding: 1rem;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  section#about {
    grid-column: 1 / 2;
  }

  section#photo {
    grid-column: 2 / 3;
  }

  section#courses {
    grid-column: 1 / 3;
  }

  button {
    padding: 0.75rem 1.5rem;
  }

  footer {
    font-size: 1rem;
  }
}
